*.elc
session.*
%*%~
.#*
.dap-breakpoints

custom.el
backup/
.backup/
auto-save-list/
transient/
elpa/
.cache/
eclipse.jdt.ls/
request/
workspace/
eshell/
url/
nox/
plugin/
eaf/
quelpa/
persistent-scratch/
eln-cache/
straight/
ds-pinyin/
tree-sitter/

tabsession.el
projects
.DS_Store
custom.el
recentf
.lsp-session-v1
projectile-bookmarks.eld
.mc-lists.el
%backup%
tramp
#recentf#
projectile.cache
.git-breakpoints
bookmarks
fonts.scale
.persistent-scratch
org-roam.db
.org-id-locations