*.elc
session.*
%*%~
.#*

custom.el
backup/
.backup/
auto-save-list/
transient/
elpa/
.cache/
eclipse.jdt.ls/
request/
workspace/
eshell/
url/
nox/
plugin/
eaf/

.DS_Store
custom.el
recentf
.lsp-session-v1
projectile-bookmarks.eld
.mc-lists.el
%backup%
tramp
#recentf#
projectile.cache