[submodule "plugin/snails"]
	path = plugin/snails
	url = https://github.com/manateelazycat/snails

[submodule "plugin/awesome-pair"]
	url = https://github.com/manateelazycat/awesome-pair
	path = plugin/awesome-pair

[submodule "plugin/awesome-tray"]
	url = https://github.com/manateelazycat/awesome-tray
	path = plugin/awesome-tray

[submodule "plugin/nox"]
	url = https://github.com/manateelazycat/nox
	path = plugin/nox

[submodule "emacs-application-framework"]
	url = https://github.com/manateelazycat/emacs-application-framework.git
	path = plugin/emacs-application-framework
[submodule "plugin/-f"]
	path = plugin/-f
	url = https://github.com/manateelazycat/emacs-application-framework.git
